@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  section {
    padding-bottom: 150px;
    height: 660px;
  }
  /*top banner section*/
  .top-banner {
    background-image: url(./images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
  }
  .half-width .wlcm {
    font-size: 54px;
    margin: 50px 0;
  }
  .half-width .my-txt {
    font-size: 45px;
    margin: 50px 0;
  }
  .half-width .highlight-txt {
    color: #ff297d;
  }
  .half-width p {
    color: #696969;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
  .hire-btn {
    background: linear-gradient(120deg, #fa6b58, #febd00);
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.5s;
  }
  .hire-btn:hover {
    background: linear-gradient(120deg, #febd00, #fa6b58);
  }
  /*bio section*/
  .bio-area {
    background-image: url(./images/biography-bg.png);
    background-position: right;
    background-repeat: no-repeat;
  }
  .bio-title {
    font-size: 48px;
    margin: 50px 0;
  }
  .resume-btn {
    padding: 10px 40px;
    color: #fff;
    background: linear-gradient(120deg, #ff297d, #ffb726);
  }
  .resume-btn:hover {
    background: linear-gradient(120deg, #ffb726, #ff297d);
  }
  /*work section*/
  .work-area {
    background: url(./images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: left;
  }
.work-title{
    font-size: 45px;
    text-align: center;
    padding: 50px 0;
}
.work-dtl{
    width: 85%;
    margin: auto;
}
.work-img1{
    width: 33.33%;
    float: left;
    padding-right: 5%;
}
.work-img2{
    width: 33.33%;
    float: left;
    padding-right: 5%;
}
.work-img3{
    width: 33.33%;
    float: left;
    padding-right: 5%;
}
/*review section*/
.review-area{
    text-align: center;
    background: url(./images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.review-area .client-rev{
font-size: 45px;
padding-bottom: 80px;
}
.review-area h3{
    padding-bottom: 2px;
}
.review-area p{
    width: 500px;
    margin: auto;
    padding: 30px 0;
}
.gmail-msg{
    width: 700px;
    margin: auto;
    background: linear-gradient(120deg, #ff297d, #ffb726, #ff297d);
    padding: 20px 0;
    border-radius: 12px;
    color: #fff;
}
hr{
    width: 100px;
    margin: auto;
    margin-top: 15px;
}
span {
    color: #716f6f;
}
.contact-form{
    width: 700px;
    margin: auto;
}
form{
    margin-top: 50px;
}
.form-control{
    width: 700px;
    border: none;
    border-bottom: 1px solid gray;
    color: #696969;
    font-size: 18px;
    margin-bottom: 16px;
    outline: none;
}
input{
    width: 70px;
    height: 45px;
}
form .submit{
    background: linear-gradient(120deg, #ff297d, #ffb726);
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    transition: 0.4s ease;
    cursor: pointer;
}
form .submit:hover{
    background: linear-gradient(120deg, #ffb726, #ff297d);
}

/*footer*/
footer {
    display: block;
    padding-top: 200px;
  }
  footer p {
    text-align: center;
    margin: 18px 0;
    color: #696969;
  }
